* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-image: url(https://512pixels.net/downloads/macos-wallpapers/10-3.png);
}

.menu {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

    &__group {
        display: flex;
        padding: 0.5rem;
    }

    &__button {
        padding: 0.5rem 1rem;

        &:hover {
            background-color:  rgba(255, 255, 255, 0.5);
        }

        
    }
}


.dock {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    &__group {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
        display: flex;
        width: 50vw;
        justify-content: space-around;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;

        &:hover {
            background-color:  rgba(255, 255, 255, 0.5);
        }
    }

    &__icon {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
}



.dropdown {
    display: flex;

    &__group {
        background-color:  rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    &__button {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        

        i {
            margin-left: 1rem;
            margin-top: 1.5px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

        &--border {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        
    }

    
}

.window {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__title {
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    &__top {
        display: flex;
        border-bottom: 1px solid black;
        padding: 0.5rem;
        
    }

    &__group {
        margin: 0.5rem;
        height: 50vh;
        width: 50vh;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
    }
    
    &__buttons {
        display: flex;
    }

    &__button {
        height: 20px;
        width: 20px;
        border-radius: 5rem;
        margin-right: 0.5rem;

        &--close {
            background-color: rgb(255, 107, 131);
            border: 1px solid rgb(199, 84, 103);

            &:hover {
                background-color: rgb(199, 84, 103);
            }
        }

        &--minimise {
            background-color: orange;
            border: 1px solid rgb(173, 113, 1);

            &:hover {
                background-color: rgb(173, 113, 1);
            }
        }

        &--fullscreen {
            background-color: rgb(57, 170, 57);
            border: 1px solid rgb(38, 115, 38);

            &:hover {
                background-color: rgb(38, 115, 38);
            }
        }
    }

    &__content {
        padding: 0.5rem;
    }
    
    &__subheading {
        margin-bottom: 0.5rem;
    }

    &__text {

    }

}


.hidden {
    display: none;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.5);
}