* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  user-select: none;
}

body {
  background-image: url(./images/desktop-background-1.png);
}

.menu {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.menu__group {
  display: flex;
  padding: 0.5rem;
}
.menu__button {
  padding: 0.5rem 1rem;
}
.menu__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.dock {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dock__group {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  display: flex;
  width: 50vw;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.dock__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}
.dock__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.dock__icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.dropdown {
  display: flex;
}
.dropdown__group {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.dropdown__button {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.dropdown__button i {
  margin-left: 1rem;
  margin-top: 1.5px;
}
.dropdown__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.dropdown__button--border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.window {
  display: flex;
  align-items: center;
  justify-content: center;
}
.window__title {
  text-align: center;
  width: 100%;
  font-weight: bold;
}
.window__top {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
.window__group {
  margin: 0.5rem;
  height: 50vh;
  width: 50vh;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
}
.window__buttons {
  display: flex;
}
.window__button {
  height: 20px;
  width: 20px;
  border-radius: 5rem;
  margin-right: 0.5rem;
}
.window__button--close {
  background-color: rgb(255, 107, 131);
  border: 1px solid rgb(199, 84, 103);
}
.window__button--close:hover {
  background-color: rgb(199, 84, 103);
}
.window__button--minimise {
  background-color: orange;
  border: 1px solid rgb(173, 113, 1);
}
.window__button--minimise:hover {
  background-color: rgb(173, 113, 1);
}
.window__button--fullscreen {
  background-color: rgb(57, 170, 57);
  border: 1px solid rgb(38, 115, 38);
}
.window__button--fullscreen:hover {
  background-color: rgb(38, 115, 38);
}
.window__content {
  padding: 0.5rem;
}
.window__subheading {
  margin-bottom: 0.5rem;
}
.hidden {
  display: none;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.5);
}
