* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    user-select: none;
}

body {
    background-image: url(https://512pixels.net/downloads/macos-wallpapers/10-3.png);
}

.menu {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

    &__group {
        display: flex;
        padding: 0.5rem;
    }

    &__button {
        padding: 0.5rem 1rem;
        margin-right: 0.2rem;

        &:hover {
            background-color:  rgba(255, 255, 255, 0.5);
            border-radius: 10px;
        }

        
    }
}


.dock {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    &__group {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
        display: flex;
        width: 50vw;
        justify-content: space-around;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;

        &:hover {
            background-color:  rgba(255, 255, 255, 0.5);
            border-radius: 10px;
        }
    }

    &__icon {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
}



.dropdown {
    display: flex;

    &__group {
        background-color:  rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        backdrop-filter: blur(20px);
    }

    &__button {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        

        i {
            margin-left: 1rem;
            margin-top: 1.5px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
        }

        &--border {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        
    }

    
}

.window {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-size: auto;
    background-repeat: no-repeat;
    
    &__title {
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-top: 0.3rem;
    }

    &__top {
        display:flex;
        border-bottom: 1px solid black;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.5)
        
    }

    &__group {
        height: 50vh;
        width: 50vh;
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid black;
        backdrop-filter: blur(10px);
    }
    
    &__buttons {
        display: flex;
    }

    &__button {
        height: 20px;
        width: 20px;
        border-radius: 5rem;
        margin-right: 0.5rem;

        &--close {
            background-color: rgb(255, 107, 131);
            border: 1px solid rgb(199, 84, 103);

            &:hover {
                background-color: rgb(199, 84, 103);
            }
        }

        &--minimise {
            background-color: orange;
            border: 1px solid rgb(173, 113, 1);

            &:hover {
                background-color: rgb(173, 113, 1);
            }
        }

        &--fullscreen {
            background-color: rgb(57, 170, 57);
            border: 1px solid rgb(38, 115, 38);

            &:hover {
                background-color: rgb(38, 115, 38);
            }
        }
    }

    &__content {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        p {
            margin-bottom: 0.5rem;
            width: 100%;
        }

        // img {
        //     height: 50%;
        //     width: 50%;
        //     object-fit:cover;
        // }
    }
    
    &__subheading {
        margin-bottom: 0.5rem;
        width: 100%;
    }


}

.finder {
    background-image: url(https://images.unsplash.com/photo-1549675584-91f19337af3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80);
}
.weather {
    background-image: url(https://images.unsplash.com/photo-1517241080758-95a42c519c1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
}
.music {
    background-image: url(https://images.unsplash.com/photo-1549046675-dd779977de88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1843&q=80);
}


header {
    position: absolute;
    z-index: 4;
    top: 0;
    width: 100vw;
}

// JS toggles

.hidden {
    display: none;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.fullscreen {
    height: 75vh;
    width: 100%;
}

