* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    user-select: none;
}

body {
    background-image: url(./images/desktop-background-1.png);
    background-size: auto;
    overflow: hidden;
}

// Required for popups
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #212427;
    padding: 1rem;
    backdrop-filter: blur(20px);
    z-index: 999;

    &__left {
        i {
            font-size: 3rem;
            margin: 1rem;
        }
    }

    &__right {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        p {
            font-size: 0.8rem;
            margin-bottom: 1rem;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row-reverse;
        
        button {
            padding: 0.5rem;
            margin: 0rem 0.5rem;
            border: none;
            border-radius: 10px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.605);
            }
        }
    }
}


.menu {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #212427;

    &__group {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

    &__button {
        padding: 0.5rem 1rem;
        margin-right: 0.2rem;
        
        &:hover {
            background-color:  rgba(255, 255, 255, 0.75);
            border-radius: 10px;
        }

        
    }
}
.dropdown-area {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    &--left {
        display: flex;
        flex-direction: row;
    }

    &__group {
        background-color:  rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        border-right: 1px solid #212427;
        border-bottom: 1px solid #212427;
        backdrop-filter: blur(20px);

        &--right {
            border-left: 1px solid #212427;
            border-right: 0px;
        }
    }

    &__button {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &--shortcut {
            margin-left: 3rem;
            color: rgba(33, 36, 39, 0.5);
        }

        i {
            margin-left: 3rem;
            margin-top: 1.5px;
            color: rgba(33, 36, 39, 0.5);
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
        }

        &--border {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        
    }
    
}

.dock {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;

    &__group {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #212427;
        display: flex;

        justify-content: space-around;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem 1rem;
        padding: 0.5rem 1rem;

        &:hover {
            background-color:  rgba(255, 255, 255, 0.75);
            border-radius: 10px;
        }
    }

    &__icon {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
}



.window {
    background-size: auto;
    background-repeat: no-repeat;
    
    &__title {
        text-align: center;
        width: 100%;
        font-weight: bold;
    }

    &__top {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #212427;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.5);
    }

    &__group {
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid #212427;;
        backdrop-filter: blur(10px);
        box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
        overflow: hidden;

    }
    
    &__buttons {
        display: flex;
    }

    &__button {
        height: 20px;
        width: 20px;
        border-radius: 5rem;
        margin-right: 0.5rem;

        &--close {
            background-color: rgb(255, 107, 131);
            border: 1px solid rgb(199, 84, 103);

            &:hover {
                background-color: rgb(199, 84, 103);
            }
        }

        &--minimise {
            background-color: orange;
            border: 1px solid rgb(173, 113, 1);

            &:hover {
                background-color: rgb(173, 113, 1);
            }
        }

        &--fullscreen {
            background-color: rgb(57, 170, 57);
            border: 1px solid rgb(38, 115, 38);

            &:hover {
                background-color: rgb(38, 115, 38);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        height: 100%;
    }


}

.sidebar {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #212427;
    width: 20rem;

    &__label {
        font-size: 0.8rem;
        margin-top: 1rem;
        font-weight: bold;
    }

    &__group {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 1rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 5px;
        }

        i { 
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.5rem;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            display: flex;
            align-items: center;
        }
    }

}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.button {
    &__accept {
        color: white;
        background-color: rgb(0, 110, 255);
    }
}

header {
    position: absolute;
    z-index: 500;
    top: 0;
}

// JS modal toggles
.hidden {
    display: none;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.darklight {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.fullscreen {
    width: 100%;
    height: 80vh;
}

// JS draggable apps initial load
#finder {
    top: 3.5rem;
    position: absolute;
    left: 1rem;
    z-index: 1;
}

#weather {
    top: 3.5rem;
    position: absolute;
    left: 30rem;
    z-index: 2;
}

#music {
    top: 3.5rem;
    position: absolute;
    left: 60rem;
    z-index: 3;
}

#finderHeader, #weatherHeader, #musicHeader {
    cursor: move;
}

#titleButton {
    font-weight: bold;
}

.disabled {
    color: rgba(33, 36, 39, 0.5);
}